---
import { slugify } from '../utils/utils';
import FormattedDate from './FormattedDate.astro';
import type { CollectionEntry } from 'astro:content';
import {getFluidPostPath} from '@src/utils/blog';
import {type BlogPost, type FluidPost} from '@src/utils/blog'
const { post }: Record<string, any> | { post: FluidPost }  = Astro.props
const params = getFluidPostPath(post)

---
<div class='flex flex-col sm:flex-row gap-2 sm:items-center  border-b py-2 mb-1 capitalize dark:border-b-zinc-700'>        
  <div class='text-zinc-700 text-sm w-32 dark:text-zinc-300 shrink-0'>
    <FormattedDate date={post.data.date} />
  </div>
  <h3 class='font-medium grow'>
    <a href={`/${params.year}/${params.month}/${params.day}/${params.title}`}>
      {post.data.title}
    </a>
  </h3>
  <div class='flex gap-2 shrink-0'>
    {
      (post.data.tags || [] )?.map((tag: string) => (
        <p
          class='border border-zinc-300 dark:border-zinc-700 rounded-2xl
          text-sm text-zinc-700 dark:text-zinc-300 no-underline px-2 py-0.5
          transition-all duration-700
          hover:border-zinc-700 dark:hover:border-zinc-300'>
          {tag}
        </p>
      ))
    }
  </div>
</div>