---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@src/layouts/BaseLayout.astro';
import FluidPostsByYear from '@src/components/FluidPostsByYear.astro';
import { getFluidPosts } from '@src/utils/blog';

const title = 'All Fluid Posts Archives'
const description = 'Fluid Posts Archives'

const allFluidPosts = await getFluidPosts();

---

<BaseLayout
	title={title}
	description={description}
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-2">{title}</h1>
      <p class="text-zinc-700 dark:text-zinc-300 text-lg">{description}</p>
    </div>
    <FluidPostsByYear posts={allFluidPosts}/>
  </div>
</BaseLayout>
